[submodule "hydra-documentation"]
	path = documentation
	url = git@github.com:hydra-engineers/documentation.git
	branch = master
[submodule "hydra-backfire"]
	path = packages/backfire
	url = git@github.com:hydra-engineers/backfire.git
	branch = master
[submodule "employee-scheduler-app"]
	path = projects/employee-scheduler-app
	url = git@github.com:hydra-engineers/employee-scheduler-app.git
	branch = master
[submodule "employee-scheduler-api"]
	path = apis/employee-scheduler
	url = git@github.com:hydra-engineers/employee-scheduler-api.git
	branch = master
[submodule "grocery-stores"]
	path = projects/grocery-stores
	url = git@github.com:hydra-engineers/grocery-stores.git
	branch = master
